
#general files
UserFeedBack/bin/*
UserFeedBack/gen/*

# Local configuration file (sdk path, etc)
UserFeedBack/proguard.cfg
UserFeedBack/project.properties
UserFeedBack/proguard-project.txt
UserFeedBack/.settings/
UserFeedBack/.classpath
UserFeedBack/.project